Package: com.the-samminater.spincydia
Name: SpinCydia
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Dynamically rotating icons for Cydia
Maintainer: The-SamminAter
Author: Josh Doctors
Section: Tweaks
Version: 0.1-2+debug
Installed-Size: 312
